<%- include('./partials/header.ejs') -%>


<main class="container">

  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="h1"><%= title %></h1>

      
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-6">

    <!--hr class="my-4"-->
  </div>
</div>

<table style="width: 100%">
	<tr>
		<td>
      <img src="./Assets/images/myPicture.jpg" alt="myPicture" width="230" height="280" hspace=40>
		<td><h3>Hi. My name is Jiye Yu from South Korea.<br />
      I am a student in the Software Engineering Technician program at Centennial College.&nbsp; Previously I studied music in Korea.&nbsp; Especially, I played the piano.<br /> <br />
      The current program and the past are very different, but I like both fields.&nbsp; Ever since I played the piano, I was interested in computers and used to do a database as a hobby.&nbsp; Also, I still like music while programming now.&nbsp; However, as I live abroad, I do not have a piano.&nbsp; Therefore, my hobby these days is to watch movies online or study programming language step by step.&nbsp; 
      I want to live doing what I like.</h3>
      </td>
  </tr>
  
</table>

<P><a href="./Assets/file/Resume.pdf">Download the Resume</a></P>


</main>

<%- include('./partials/footer.ejs') -%>
