<%- include('./partials/header.ejs') -%>



<main class="container">

  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="h1"><%= title %></h1>

      
      </div>
    </div>
  </div>
  
  
  <div class="row justify-content-md-center">
    <div class="col-6">

    <!--hr class="my-4"-->
  </div>
</div>
<div style="text-align: center; vertical-align: middle;">
<table id = table, class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Images</th>
        <th scope="col">description</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="http://studentweb.cencol.ca/jyu159/COMP125/assignment5/assignment5/assignment5/assignment5/assignment5.html"><img src="./Assets/images/projects1.png" alt="projects1" width="200" height="200"></a></td>
        <td>Bug Smasher</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td><a href="http://studentweb.cencol.ca/jyu159/COMP125-002/assignment3/COMP125001/assignment3/assignment3AboutUs.html"><img src="./Assets/images/projects2.png" alt="projects2" width="200" height="200"></a></td>
        <td>Real estate homepage</td>
      </tr>
      <tr>

        <th scope="row">3</th>
        <td><a href=http://studentweb.cencol.ca/jyu159/COMP125-002/COMP125001(Start%20VS%20Solution%20Sec01)/COMP125001/Assignment1/assignment1.html><img src="./Assets/images/projects3.png" alt="projects3" width="200" height="200"></a></td>
        <td>BMR Calculator</td>

      </tr>

    </tbody>

  </table>

</div>

</main>


<%- include('./partials/footer.ejs') -%>
