<%- include('./partials/header.ejs') -%>


<main class="container">

  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="h1"><%= title %></h1>

      
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-6">
        <h2 class= "h2"><%= message %></h2>
        <div style="left: auto"><img src="./Assets/images/software3.jpg" alt="software3" width="300" height="138">
        
        </div>
            <h3>
            <br>
            <ul>
            <li>
            <p><a href="https://blog.openclassrooms.com/en/2018/03/28/web-development-definition/"> &nbsp;&nbsp; Web Development</a></p>
            </li>
            <li>
            <p><a href="https://techterms.com/definition/java">&nbsp;&nbsp; Java</a></p>
            </li>
            <li>
            <p><a href="https://www.redhat.com/en/topics/linux/what-is-linux">&nbsp;&nbsp; Linux</a></p>
            </li>
            <li>
            <p><a href="https://www.digitaltechnologieshub.edu.au/teachers/topics/general-purpose-programming-coding">&nbsp;&nbsp; General Programming</a></p>
            </li>
        </ul>
        </h3>
    </div>
        <img src="./Assets/images/software2.jpg" alt="software2" width="300" height="138" vspace=40>
    
  


<img src="./Assets/images/software.jpg" alt="software" width="300" height="138" hspace=-50>
</main>
</div>

<%- include('./partials/footer.ejs') -%>
